<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>maven-r2</id>
            <username>${env.MAVEN_R2_USERNAME}</username>
            <password>${env.MAVEN_R2_PASSWORD}</password>
        </server>
    </servers>
</settings>
